.env
*.gem
*.rbc
*.rbi
.config
vendor
coverage
out
.irb-history
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

Gemfile.lock
.ruby-version
.ruby-gemset
.bundle

# JetBrains
.idea/workspace.xml
.idea/misc.xml
.idea/.rakeTasks
.idea/client.iml

# MacOS
.DS_Store
__MACOSX

# emacs and vim
(.*/)?\#[^/]*\#$
*.swp
*.swo

# A symlink to ../textflight server sources
textflight
